# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. Java
3. R
4. SQL

1. Python
   - Pandas
   - NumPy
   - Matplotlib
   - SciPy
2. R
   - ggplot2
3. Scala
   - Vegas

| Data Science Tools   |
|----------------------|
| Jupyter      |
| RStudio      |
| KNIME      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
m= 200
x = m/60
print(x)

3.3333333333333335

__Objectives:__
- List popular languages for Data Science:
- commonly used libraries used by Data Scientists
- arithmetic expressions in Python
- convert minutes to hours

## Author
Zainab Hani